.account-body {
    background-color: #fffafa;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;

}

.account-info-container {
    margin-top: 40px;
    display: flex;
}

.headphoto {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: 20px;
}

.text-info-container {
    float: left;
    width: 670px;
}

.name-container{
    height:40px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.name-text{
    
    float: left;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
}

.tab-box {
    height: 41px;
    margin-bottom: 40px;
    padding-left: 0;
}

.fst {
    padding-left: 0 !important;
    border-left: none !important;
}

.count{
    display: block;
    margin-top: -4px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer
}

.tab-box li {
    float:left;
    padding: 0 40px 0 20px;
    border-left: 1px solid #ddd;
}

.tab-box li>span {
    display: block;
    text-indent: 2px;
    cursor: pointer;
}

.introduction {

    float:left;
    margin-bottom: 5px;
    line-height: 21px;
    color: #666;
}

.favourite-container {
    float: left;
    width: 100%;
}

.text-fav{
    float: left;
    padding: 5px 30px;
    font-size: x-large;
    font-weight: 600;
    color: #cd5c5c
}





.songlist {
    clear: both;
    font-size: 14px;
    overflow: hidden;
}

.songlist_headerx {
    border-top: 2px solid #c20c0c;
    position: relative;
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.01);
    padding-left: 0;
    color: #333;
}

.songlist_list {
    padding-left: 0;
    overflow: hidden;
    clear: both;
}

.songlist_item {
    clear: both;
    font-size: 0px;
    overflow: hidden;
}
.songlist_item--even {
    background-color: rgba(0,0,0,.05);
}

.songlist_headerx, .songlist_item {
    position: relative;
    padding-left: 46px;
    padding-right: 95px;
    margin-bottom: 0;
}

.songlist_header_name, .songlist_songname {
    float: left;
    width: 40%;
    position: relative;
    white-space: normal;
}

.songlist_header_time, .songlist_time {
    position: absolute;
    top: 0;
    right: 38px;
    width: 50px;
}

.songlist_img{
    position: absolute;
    top:7px;
    left: 40px;
    height: 56px;
}

.songlist_album, .songlist_artist, .songlist_number, .songlist_other, .songlist_songname, .songlist_time {
    line-height: 70px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songlist_album, .songlist_artist, .songlist_header_album, .songlist_header_author {
    float: left;
    padding-left: 15px;
    width: 20%;
    box-sizing: border-box;
}



.songlist_time {
    color: #999;
}

.songlist_songname {
    font-size: 15px;
    font-weight: 600;
}

.songlist_album, .songlist_artist, .songlist_other, .songlist_time{
    font-size: 14px;
}

.songlist_album, .songlist_artist {
    color:#666666;
}