.search-body {
    background-color: #fffafa;
    height: fit-content;
    margin-left: 10%;
    margin-right: 10%;

}

.search-bar {
    background-color: rgb(247, 173, 173) !important;
    color : #222222;

}

.songlist {
    font-size: 14px;
    overflow: hidden;
}

.songlist_header {
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.01);
    color: #333;
}

.songlist_list {
    padding-left: 0;
    overflow: hidden;
    clear: both;
}

.songlist_item {
    clear: both;
    font-size: 0px;
    overflow: hidden;
}
.songlist_item--even {
    background-color: rgba(0,0,0,.05);
}

.songlist_header, .songlist_item {
    position: relative;
    padding-left: 46px;
    padding-right: 95px;
    margin-bottom: 0;
}

.songlist_img{
    position: absolute;
    top:7px;
    left: 40px;
    height: 56px;
}

.songlist_header_name, .songlist_songname {
    float: left;
    width: 40%;
    position: relative;
    white-space: normal;
}

.songlist_album, .songlist_artist, .songlist_number, .songlist_other, .songlist_songname, .songlist_time, .alb_time {
    line-height: 70px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songlist_album, .songlist_artist, .songlist_header_album, .songlist_header_author {
    float: left;
    padding-left: 15px;
    width: 20%;
    box-sizing: border-box;
}

.songlist_header_time, .songlist_time {
    position: absolute;
    top: 0;
    right: 38px;
    width: 50px;
}

.alb_time, .alb_header_time {
    position: absolute;
    top: 0;
    right: 38px;
    width: 100px;
}

.songlist_time .alb_time{
    color: #999;
}

.songlist_songname {
    font-size: 15px;
    font-weight: 600;
}

.songlist_album, .songlist_artist, .songlist_other, .songlist_time, .alb_time{
    font-size: 14px;
}

.songlist_album, .songlist_artist {
    color:#666666;
}

.MuiTabs-flexContainer {
    color:#333333;
  }
  
.MuiTabs-indicator {
    background-color: red !important;
}
.MuiButtonBase-root {
    font-weight: 600 !important;
    font-size: medium !important;
}
.MuiBox-root {
    padding: 3px 0px 0px 0px !important;
}



.singer_list_text {
    margin-bottom: 20px;
    margin-top: 20px;
}

.singer_list_list {
    
    zoom: 1;
    margin-bottom: -24px;
}

.singer_list_item {
    position: relative;
    height: 80px;
    display: table;
    width: 100%;
    margin-bottom: 0;
    float: left;
    overflow: hidden;
}

.singer_list_item--even {
    position: relative;
    height: 80px;
    display: table;
    width: 100%;
    margin-bottom: 0;
    float: left;
    overflow: hidden;
    background-color: rgba(0,0,0,.05);
}

.singer_list_title {
    width: 40%;
    min-width: 280px;
    font-weight: 400;
    text-indent: 20px;
    overflow: hidden;
    line-height: 80px;
    padding-left: 20px;

}

.singer_list_playlist, .singer_list_title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    
}

.singer_list_cover {
    position: relative;
    float: left;
    width: 60px;
    height: 60px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.singer_list_pic {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    min-height: 50px;
    border-radius: 50%;
}

.singer_list_cover, .singer_list_pic {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 126px;
}

 .singer_list_count, .singer_list_other, .singer_list_playlist, .singer_list_title {
    display: table-cell;
    height: 80px;
    vertical-align: middle;
    box-sizing: border-box;
}

.singer_list_title_txt {
    float: left;
    width: 40%;
    max-width: 310px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    text-indent: 20px;
    overflow: hidden;
    line-height: 80px;
}

.singer_list_playlist {
    width: 22%;
    padding-left: 20px;
    color:#666
}

.singer_list_count {
    width: 22%;
    padding-left: 15px;
    color: #666;
}

.singer_list_other {
    width: 122px;
}

.singer_list_btn_focus {
    display: block;
    width: 100px;
    text-align: center;
    margin-right: 20px;
    border: 1px solid #c9c9c9;
    color: #000;
    padding: 5px 0 5px 0;
}