.search-body {
    background-color: #fffafa;
    height: 130vh;
    margin-left: 10%;
    margin-right: 10%;

}

.search-bar {
    background-color: rgb(247, 173, 173) !important;
    color : #222222;

}



.result-container {
    float: left;
    width: 100%;
}

.songs-container {
    border: 1px solid #e2e2e2;
    border-top: 2px solid #c20c0c;
}

.song {
    overflow:hidden;
}

.song-image {
    float: left;
    height: 50px;
    width: 50px;
}

.song-info {
    text-align: left;
    float: left;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    width: 480px;
}

.txt {
    
    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
}

.song-name {
    color: #333;
    font-weight: bold;
}

.song-art {
    color: #aeaeae;
}

.song-detail {
    text-align: right;
    float: right;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;

}

.song-time {
    color:#666;
    margin-left: 100px;
    padding-top: 10px;
    float:left
}

.song-comment {
    color: #555;
    float:right;
    padding-top: 10px;
}




.MuiTabs-flexContainer {
    color:#333333;
  }
  
.MuiTabs-indicator {
    background-color: red !important;
}
.MuiButtonBase-root {
    font-weight: 600 !important;
    font-size: medium !important;
}
.MuiBox-root {
    padding: 3px 0px 0px 0px !important;
}
.songlist {
    font-size: 14px;
    overflow: hidden;
}

.songlist_header {
    height: 50px;
    line-height: 50px;
    background-color: rgba(0,0,0,.01);
    color: #333;
}

.songlist_list {
    padding-left: 0;
    overflow: hidden;
    clear: both;
}

.songlist_item {
    clear: both;
    font-size: 0px;
    overflow: hidden;
}
.songlist_item--even {
    background-color: rgba(0,0,0,.05);
}

.songlist_header, .songlist_item {
    position: relative;
    padding-left: 46px;
    padding-right: 95px;
    margin-bottom: 0;
}

.songlist_img{
    position: absolute;
    top:7px;
    left: 40px;
    height: 56px;
}

.songlist_header_name, .songlist_songname {
    float: left;
    width: 40%;
    position: relative;
    white-space: normal;
}

.songlist_album, .songlist_artist, .songlist_number, .songlist_other, .songlist_songname, .songlist_time {
    line-height: 70px;
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songlist_album, .songlist_artist, .songlist_header_album, .songlist_header_author {
    float: left;
    padding-left: 15px;
    width: 20%;
    box-sizing: border-box;
}

.songlist_header_time, .songlist_time {
    position: absolute;
    top: 0;
    right: 38px;
    width: 50px;
}

.songlist_time {
    color: #999;
}

.songlist_songname {
    font-size: 15px;
    font-weight: 600;
}

.songlist_album, .songlist_artist, .songlist_other, .songlist_time{
    font-size: 14px;
}

.songlist_album, .songlist_artist {
    color:#666666;
}

